@import "tailwindcss";

@layer components {
  .custom-btn {
    @apply text-white pt-[10px] pr-[18px] pb-[10px] pl-[18px] rounded-[100px] w-[147] h-[42px] gap-[10px] flex items-center;
  }

  .heading__style{
    @apply font-medium text-[48px] leading-[64px] tracking-[0%] text-[#8BAC3E] sm:font-medium sm:text-[64px] sm:leading-[64px] sm:tracking-[0%] sm:text-[#8BAC3E]
  }
}



/* styles/globals.css */
.hero-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 900px;
  background-image: url('/images/bg-image.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.02;
}


.text-custom {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
}


.text-custom-footer {
  font-family: Rubik;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

.custom-footer-last {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 5%;
  text-transform: uppercase;
}


/* Card dasar */
.card-hover { 
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease; /* Transisi yang halus saat hover */
}

/* Gambar latar belakang yang muncul pada hover */
.card-hover:hover {
  height: 200px;
  background-image: url('/images/bg-image.jpg'); /* Path gambar */
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: 0;
}

.view:hover {
  height: 200px;
  transition: all 0.3s ease;
}

.landing-hover:hover {
  background-image: url('/images/bg-image.jpg'); /* Path gambar */
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: 0;
}